.ProductCart {
  display: flex;
  flex-flow: row wrap;

  &__wrapper {
    overflow: hidden;

    .image {
      max-width: 214px;
    }

    .name {
      max-width: 214px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      min-height: 39px;
      font-size: 14px;
      line-height: 140%;
      color: #2D2D2F;
    }

    .price {
      width: max-content;

      .new-price {
        font: 600 20px/24px 'Raleway', sans-serif;
        color: #2967FF;
      }

      .stock-price {
        display: flex;
        justify-content: space-between;

        .old-price {
          font: 600 14px/24px 'Raleway', sans-serif;
          color: #8D8D8E;
          text-decoration: line-through;
        }

        .discount {
          font: 600 14px/140% 'Raleway', sans-serif;
          color: #FF2D87;
        }
      }
    }

    .add-product-btn {
      width: 100%;
      padding: 10px 40px;
      color: #2967FF;
      font-size: 14px;
      line-height: 140%;
      border: 1px solid #2967FF;
      border-radius: 26px;
      background: none;
      margin-top: 10px;
    }
  }
}